/* webash style.css */
body {
	background: black;
	margin: 0px;
}

pre {
	margin: 0px;
}

.directory {
	margin-right: 20px;
	color: blue;
}

.file {
	margin-right: 20px;
	color: lightblue;
}

.link {
	color: magenta;
}

.stdout {
	color: white;
}

.stderr {
	color: red;
}

.prompt {
	color: white;
}
